/* Main Styling */

#root {
  max-width: 660px;
  margin: 0 auto;
  padding: 0.5em;
  text-align: center;
}

.btn {
  margin-top: 1em;
}

.btn:hover {
  filter: brightness(0.9) contrast(150%);
}

.btn-dark {
  background-color: #d3bfe0;
}

.btn-add {
  opacity: 0.6;
}

/* Section */

section {
  margin-bottom: 4em;
  padding: 2em 1em;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -4px rgba(0,0,0,0.1);
}

.section-header {
  margin-bottom: 0.5em;
}

/* Forms */

form {
  margin-top: 2em;
}

.date-label {
  font-size: 0.9rem;
}

input,
.text-area {
  border: none;
  font-family: inherit;
  font-size: 1.5rem;
  padding: 0.5em;
  border-radius: 0.2em;
  box-shadow: 0 10px 20px rgba(52, 28, 80, 0.19), 0 6px 6px rgba(58, 22, 76, 0.23);
}

input[type="date"] {
  opacity: 0.55;
}

input:focus {
  outline-color: blueviolet;
}

.input-field {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  margin-bottom: 1.5em;
}

.text-area {
  border: 1px solid gray;
  width: 100%;
}

.text-area:focus {
  outline-color: blueviolet; 
}

/* Display Info */

.display-info {
  font-size: 1.5rem;
}

.statement {
  margin-bottom: 1.5em;
}

/* Tablet & Desktop */

@media(min-width: 700px) {
  section {
    padding: 3em;
  }
}

